.main{
    padding-block: 40px;
}
/*=================================================FORM=================================*/
.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.04vw;
    margin-bottom: 20px;
}
.form-title{
    text-align: center;
    width: 100vw;
    color:var(--color-text-gray);
    font-size: clamp(16px,1.25vw,28px);
}

.form-button{
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    max-width: 48px;
    max-height: 48px;
}
.form-img{
    max-width: 48px;
    aspect-ratio: 1;
}
.form-btn{
    box-shadow: 3px 5px  1px var(--color-text-gray);
}
.form-btn:active{
    position: relative;
    top:1px;
    left:3px;
    transition-duration:  0.2s;
    box-shadow: 1px 2px  1px var(--color-text-gray);
}

.main-form__btns{
    margin-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/*==============================================JOB===============================================*/
.main-wrapper{
    position: relative;
    display: flex;
    min-height: 80vh;
}

.job{
    padding-left: 10px;
    width: 75vw;
}
.job-title{
    color: var(--color-text-black);
}
/*================================================ASIDE=============================================*/
.main-sidebar{
    width: 25vw;
    background: var(--alternate-bg-color);
    border-radius: 0 10px 10px 0 ;
}
.main-sidebar__form{
    padding: 10px;
}
.main-sidebar-label{
    font-size: 20px;
    color: var(--color-text);
}
.main-sidebar__containers{

    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.main-sidebar h4{
    color: var(--color-text);
}
.main-sidebar h4{
    margin-bottom: 6px;
}
.main-sidebar label{
    color: var(--color-text);
}

.main-sidebar__regions .autocomplete-title{
    display: block;
    margin-bottom: 15px;
}

.main-sidebar__regions .input-small{
    margin-bottom: 15px;
}
.main-sidebar__regions .autocomplete-list{
    top: 55%;
    left: 0;
    width: clamp(200px,15.62vw,300px);
}



@media (max-width: 380px) {


    .form-inp {
        width: 90%;
    }
}

