.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/*todo*/
:root {
    --bg-color: #FF6600;
    --alternate-bg-color: #ff5900;
    --color-text: white;
    --color-text-gray: #abaeb5;
}


.btn{
    border:  none;
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--alternate-bg-color);
    color : var(--color-text-gray);
}


.btn:hover{
    color : var(--color-text);
}

