.request-form{
    padding-block: 1.56vw;
    padding-inline: clamp(30px,5.2vw,100px);
}

.request-form > option,input,label,.request-form__title {
    color: var(--color-text-black);
}

.request-form__title{
    font-size: 36px;
    margin-bottom: 20px;
}
.request-form-label{
    font-size: 20px;
}
.request-form-wrapper,.input-edit{
    margin-bottom: 50px;
}


.input-edit{
    margin-left: 4.16vw;
}
.request-form-region{
    margin-bottom: 50px;
}

.request-container{
    display: flex;
    flex-direction: column;
}



.request-form__btn{
    padding: 15px 20px;
    color: var(--color-text-black);
}



